* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
  }

/* header section */

header  {
    padding: 20px 20px;
    background-color: #1877f2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: white;
}


header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: flex;
    align-items: center;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    text-decoration: none;
}

/* end header section */

.section {
    display: flex;
}

/* begin about me section */
article div img {
    width: auto;
    max-height: 200px;
}

article div p {
    text-decoration: none;
}

/* end about me section */