* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: grey;
  }

.section {
    border: rgb(4, 66, 121);
    display: flex;
    flex-wrap: wrap;
    border-width: 5px;
    border-style: solid;
    margin: 10px;
    background-color: #1877f2;
    border-radius: 10px;
    min-width: 500px;
}

.margin {
    /* display: flex;
    flex-wrap: wrap; */
    margin: 10px;
}

/* header section */

header  {
    padding: 20px 20px;
    background-color: #1877f2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: rgb(4, 66, 121);
    border-bottom-style: solid;
    border-width: 5px;
    min-width: 520px;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: white;
}


header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: flex;
    align-items: center;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.75vh;
    text-decoration: none;
}

/* end header section */


/* begin about me section */
article div{
display: flex;
}

#pain {
    display: flex;
    flex-direction: column;
}

article div div h2 {
    margin: 10px;
}

article div img {
    width: auto;
    max-height: 200px;
    display: flex;
    flex-wrap: wrap;
}

article div div p {
    justify-content: center;
    align-items: center;
    margin: 10px;
}
article div div p a {
    display: flex;
    min-width: 500px;
}

/* end about me section */

/* begin deployed projects section */

section div h2 {
    margin: 10px;
}

section div h3 {
    display: inline-block;
    position: relative;
    top: 39px;
    left: 25px;
    z-index: 3;
    color: #1877f2;
    border-style: solid;
    background-color: rgb(4, 66, 121);
    border-radius: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.thumbnail {
    display: flex;
    flex-wrap: wrap;
    border: rgb(4, 66, 121);
    border-width: 5px;
    border-style: solid;
    margin: 10px;
    border-radius: 10px;
    width: auto;
    max-height: 200px;
    position: relative;
}

.thumbnail:hover {
    max-height: 215px;
    width: auto;
}
/* end deployed projects section */

/* media query for smaller desktop screens and smaller */

@media screen and (max-width: 980px) {
    header nav ul li a {
        font-size: 2vh;
    }
}

/* end desktop media query */

/* media query for tablets and smaller */

@media screen and (max-width: 768px) {
    .center {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .margin {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row {
        justify-content: center;
    }

    #contact-me {
        justify-content: center;
        align-items: center;
        margin: 10px;
        text-align: center;
    }


}

/* end tablets media query */

/* media query for phones  */

@media screen and (max-width: 575px) {
    
    #phone {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li a {
        width: fit-content;
        font-size: 3vh;
    }

    article div img {
        display: block;
        justify-content: center;
        max-height: 450px
    }

    h2 {
        font-size: 4vh;
    }
    
    p {
        font-size: 3.5vh;
    }

}

/* end phones media query */