* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: grey;
  }

.section {
    border: rgb(4, 66, 121);
    display: flex;
    border-width: 5px;
    border-style: solid;
    margin: 10px;
    background-color: #1877f2;
    border-radius: 10px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

/* header section */

header  {
    padding: 20px 20px;
    background-color: #1877f2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: rgb(4, 66, 121);
    border-bottom-style: solid;
    border-width: 5px;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: white;
}


header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: flex;
    align-items: center;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    text-decoration: none;
}

/* end header section */


/* begin about me section */

article {
    margin-right: 20%;
}

article div h2 {
    display: flex;
    justify-content: center;
    margin: 10px;
}

article div img {
    width: auto;
    max-height: 200px;
}

article div p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
article div p a {
    display: flex;
    min-width: 500px;
}

/* end about me section */

/* begin deployed projects section */

section {
    margin-left: 20%;
    display: flex;
    flex-wrap: wrap;
}

section div h2 {
    display: block;
    justify-content: center;
}

section div img {
    display: flex;
    flex-wrap: wrap;
    display: block;
    width: auto;
    max-height: 200px;
}

/* end deployed projects section */